body {
  letter-spacing: -0.25rem;
  margin: 0px;
  background-color: #FFF0F5;
}
nav, body, footer {
  letter-spacing: normal;
}
nav{
  z-index: 99;
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  background-image: url("../img/carreaux.jpg");
  background-position: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 15px;
  width: calc(98%/2);
  box-sizing: border-box;
  text-align: center;
}
nav li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #F08080;
  padding: 10px;
}
h1 {
  text-align: center;
  color: #fc3d35;
  font-size: 50px;
  font-family:'Arvo', serif;
  text-transform: uppercase;
}
h2{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
h3{
  font-family: 'Arvo', serif;
  color: #fc3d35;
  text-transform: uppercase;
}
img {
  height: 50px
}
div{
  padding: 10px;
}
 #competences li, #loisirs p, .roboto, #cv{
  font-family: 'Roboto', sans-serif;
}
#competences, #loisirs, #cv{
  text-align: center;
}
.arvo{
  font-family: 'Arvo', serif;
}
#experiences p, #formations p{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
#coordonnees {
  text-align: center;
}
#cv a{
    text-decoration: none;
    color: black;
}
#loisirs img, #cv img{
  vertical-align: middle;
}
footer {
  margin: 30px 0;
}
#fin{
  background-image: url("../img/carreaux.jpg");
  background-position: center;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 769px){
  /* body {
    padding: 150px;
    background-image: url("../img/carreaux2.png");
    background-size: 100%  100%
  }*/
  header {
    background-image: url("../img/carreaux.jpg");
    background-position: center;
    padding: 50px;
  }
  nav, button {
    display: none;
  }
  section {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  body div{
    width: calc(99%/2);
    box-sizing: border-box;
    padding: 0;
  }
  #competences, #loisirs, #cv {
    text-align: left;
    padding: 50px 150px;
  }
  #fin {
    width: 100%
  }
  /* footer{
    margin: 0;
  } */
}
